.container {
  background-color: white;
  width: 20%;
  height: 45%;
  padding: 40px;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 100vw;
  height: 100vh;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
