doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div(style="color: red")
            p hello #{name}
            p this is next Generation App for dining 

            a(href=url; ) next Generation